.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.vscode/
android/local.properties
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcshareddata/
*.g.dart
